body
{
    font-family: 'Comic Sans MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    transition: background-image 1.5s ease-in-out;
}
br
{
    user-select: none;
}
a
{
    color: cyan;
    user-select: none;
}
p
{
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    font-weight: 500;
    color: white;
    font-size: large;
    backdrop-filter: blur(25px);
    cursor: default;
    user-select: none;
    transition: color 1.5s ease-in-out;
    /* text-shadow: 
        -1px -1px 0 white,  
         1px -1px 0 white,  
        -1px  1px 0 white,  
         1px  1px 0 white; */

}
button
{
    background: linear-gradient(
        0deg,
        rgba(180, 255, 161, 1) 0%, 
        rgba(64, 255, 0, 1) 49%,
        rgba(165, 255, 135, 1) 51%,
        rgba(151, 255, 120, 1) 100%);
    font-family: 'Comic Sans MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11.5px;
    font-weight: 900;
    border: 2px solid white;
    transition-duration: 500ms;   
    box-shadow: 
        0 0 3px rgb(255, 255, 255),
        0 0 6px rgb(64, 255, 0), 
        0 0 9px rgb(64, 255, 0), 
        0 0 12px rgb(64, 255, 0);
    padding: 5px;
    right: 0;
    border:white solid 2px;
    border-radius: 5px;
    position: absolute;
    user-select: none;
}
button:hover
{
    box-shadow: 
    0 0 9px rgb(255, 255, 255),
    0 0 18px rgb(64, 255, 0), 
    0 0 27px rgb(64, 255, 0), 
    0 0 36px rgb(64, 255, 0);
}
.buttonSelected
{
    background: linear-gradient(
        0deg,
        rgba(80, 155, 61, 1) 0%, 
        rgba(4, 155, 0, 1) 49%,
        rgba(65, 155, 35, 1) 51%,
        rgba(51, 155, 20, 1) 100%);
    box-shadow: none;
    color: white;
}
.buttonSelected
{
    box-shadow: none !important;
}

.center
{
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}
.titleBarButton
{
    padding: 5px;
    margin: 10px;
    margin-right: 10px;
    right: 0;
    border:white solid 2px;
    border-radius: 5px;
    position: absolute;
    width: auto;
    height: auto;
    transition-duration: 200ms;
}
.titleBarButton:hover
{
    box-shadow: 
        0 0 3px rgb(255, 255, 255),
        0 0 12px rgb(255, 255, 255), 
        0 0 12px rgb(64, 255, 0), 
        0 0 12px rgb(64, 255, 0);
}
@media (max-width: 697px)
{
    #header
    {
        position: fixed !important;
        backdrop-filter: blur(5px);
        color: white;
        font-family: 'Segoe UI', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 50px;
        width: 100%;
        overflow: hidden;
        opacity: 100% !important;
        z-index: 9999;
        top: 0px;
    }
}
@media (min-width: 698px)
{
    #header
    {
        position: fixed !important;
        border-radius: 5px;
        backdrop-filter: blur(5px);
        color: white;
        font-family: 'Segoe UI', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 50px;
        width: 90%;
        overflow: hidden;
        opacity: 100%;
        z-index: 9999;

        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
    }
}
@media (max-width: 500px)
{
    #MainIconPFP
    {
        transform: scale(0%);
        user-select: none;
    }
}
@media (min-width: 501px)
{
    #MainIconPFP
    {
        transform: scale(100%);
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0px;
        transition-duration: 200ms;
        user-select: none;
    }
}
@media (max-width: 645px)
{
    #MainHeaderText
    {
        font-size: 0px;
        transition-duration: 200ms;
        user-select: none;
        transition: color 1.5s ease-in-out;
    }
}
@media (min-width: 646px)
{
    #MainHeaderText
    {
        vertical-align: middle;
        position: absolute;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        position: absolute;
        font-size: large;
        left: 50px;
        transition-duration: 200ms;
        user-select: none;
        transition: color 1.5s ease-in-out;
    }
}