  canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* Keep behind content */
  }

@media (max-width: 399px) {
  canvas {
    display: none !important;
  }
}